<form method="POST">
    <div class="row">
        <h2 class="col-md-12 center">
            Récompenses du mois {{ past_month.month }} {{ past_month.year }}
        </h2>

        <div class="col-md-4">
            {{ render_field(ndm_reward_form.level_winned) }}
        </div>

        <div class="col-md-8 full">
            {{ render_field(ndm_reward_form.level_winned_justif) }}
        </div>

        <div class="col-md-8 full">
            {{ render_field(ndm_reward_form.distribution) }}
        </div>

        <div class="col-md-4">
            {{ render_field(ndm_reward_form.money) }}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <input type="submit" class="btn" value="Sauvegarder" name="addReward">
        </div>
    </div>
</form>