{% include 'templates_part/header.html' %}
{% from "templates_part/form_template.html" import render_field %}

<h1>
  {% if chapter %}
    {{ character.get_full_name() }} - Edition {{ chapter.name }}
  {% else %}
    {{ character.get_full_name() }} - Nouveau chapitre
  {% endif %}
</h1>

<form method="POST">
  <div class="row">

    <div class="col-md-4">
      {{ render_field(form.name) }}
    </div>

    <div class="col-md-4">
      {{ render_field(form.after) }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <input type="submit" class="btn" value="Sauvegarder">
    </div>
  </div>
</form>

<div class="float-end">
  <a href="{{ url_for('job_missions', character_id=character.id) }}" class="btn">Retour</a>
</div>

{% include 'templates_part/footer.html' %}
