{% include 'templates_part/header.html' %}
{% from "templates_part/form_template.html" import render_field %}

<h1>
  {% if journey %}
    {{ character.get_full_name() }} - Edition {{ journey.name }}
  {% else %}
    {{ character.get_full_name() }} - {{ chapter.name }} - Nouveau sujet
  {% endif %}
</h1>

<form method="POST">
  <div class="row">

    <div class="col-md-3">
      {{ render_field(form.name) }}
    </div>

    <div class="col-md-2">
      {{ render_field(form.status) }}
    </div>

    <div class="col-md-2">
      {{ render_field(form.feat) }}
    </div>

    <div class="col-md-2">
      {{ render_field(form.after) }}
    </div>

    <div class="col-md-6">
      {{ render_field(form.link) }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <input type="submit" class="btn" value="Sauvegarder">
    </div>
  </div>
</form>

<div class="float-end">
  <a href="{{ url_for('job_missions', character_id=character.id) }}" class="btn">Retour</a>
</div>

{% include 'templates_part/footer.html' %}
