@import url('https://fonts.googleapis.com/css2?family=Mansalva&display=swap');

.motisma-div {
  max-width: 500px;
  margin:auto;
  background: url("https://nsm09.casimages.com/img/2023/10/23//23102311453917129218285547.png");
}

.motisma-div  p {
  background-color: #fff390;
  margin: 80px;
  font-family: 'Mansalva', sans-serif;
  padding: 20px 25px;
  font-size: 20px;
  color: orange;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  line-height: 20px;
}
