@import url('https://fonts.googleapis.com/css2?family=Whisper&display=swap');

.lime-div .illu {
    transform: rotate(-5deg);
    width: 200px;
    height: 100px;
    object-fit: cover;
    padding: 5px;
    border: 2px dotted #7b22d7;
    float: left;
    margin: 0 15px 0 0;
}

.lime-header{
    font-family: Whisper, cursive;
    margin: 15px;
}

.lime-header p {
    margin: -10px;
}

.lime-title {
    font-size: 40px;
}

.lime-feat {
    font-size: 30px;
    text-align: right;
}

.lime-title, .lime-feat {
    color: #7b22d7;
}

.lime-rp {
    margin: 15px;
}

.lime-rp span {
    color: #6c0277;
    font-weight: bold;
}

.lime-rp hr {
    color: #7b22d7;
    width: 75%;
    margin: 10px auto;
    border: none;
    border-bottom: 2px dotted #7b22d7;
}

.lime-word {
    color: white;
    text-align: right;
}

.lime-word span {
    padding: 2px 10px;
    border-radius: 25px;
    border: 2px dotted #7b22d7;
    color: #7b22d7;
    font-family: initial;
}

.lime-hrp {
    color: #7b22d7 !important;
}