.luna, .luna-hrp, .luna-title {
    color: #299aee;
}

.luna-hrp {
    font-variant: small-caps;
    font-size: 12px;
    font-weight: bold;
}

.luna-header {
    border-bottom: 4px dotted #299aee;
    font-size: 30px;
}

.luna-title {
    text-align: center;
}

.luna-feat, .luna-words {
    text-align: right;
}

.luna-title, .luna-feat {
    font-family: "Dancing Script", "sans-serif";
    margin: 15px 0px;
}

.luna-words {
    font-size: 10px;
    color: grey;
}

.luna-rp {
    text-align: justify;
}

.kero {
    color: #ff9441;
}
