@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap');

.lime-header {
    font-family: Allura, cursive;
    margin: 15px;
    text-align: center;
}

.lime-header div {
    flex-basis: 50%;
}

.lime-header p {
    margin: -10px;
}

.lime-header img {
    width: 450px;
    height: 150px;
    object-fit: cover;
    padding: 5px;
    border: 1px solid #7b22d7;
    margin: 0;
}

.lime-title {
    font-size: 30px;
}

.lime-feat {
    font-size: 20px;
}

.lime-title, .lime-feat {
    color: #7b22d7;
    margin: 10px;
}

.lime-rp span {
    color: #6c0277;
    font-weight: bold;
}

.lime-rp span.rich {
    color: #357797;
}

.lime-rp span.martin {
    color: #2929d9;
}

.lime-rp .write {
	font-family: "Oooh Baby", cursive;
	font-weight: 400;
	font-style: normal;
	color: #9424a0;
	font-size: 18px;
    line-height: 20px;
}

.lime-rp hr {
    background-color: #7b22d7;
	border-color: #7b22d7;
	width: 50%;
}

.lime-rp hr:last-of-type {
  width: 100%;
}

.lime-word {
    color: #7b22d7;
    text-align: right;
}

.lime-word span {
    font-family: initial;
    font-weight: initial;
}

.lime-hrp {
    color: #7b22d7 !important;
}