/* Font */
@import url('https://fonts.googleapis.com/css?family=Dancing Script|Pacifico|Quicksand');

/* Surcharge */
hr {
	height: 0;
	border: solid #299aee 0;
	border-top-width: 1px;
}

a {
	color: #B183F2;
	text-decoration: none;
}

a:hover {
	color: #692DBD;
}

/* Générique */
.center {
	text-align: center;
}

.right {
	text-align: right;
}

.col-1 > * {
	flex-basis: 100%;
}

.col-2 > * {
	flex-basis: 50%;
}

.col-3 > * {
	flex-basis: 33%;
}

.col-4 > * {
	flex-basis: 25%;
}

.col-6 > * {
	flex-basis: 16.6%;
}

.help {
	font-size: 10px;
}

.scroll {
	max-height: 150px;
	overflow: auto;
	overflow-x: hidden;
	scrollbar-color: #299aee #cedff2;
  	scrollbar-width: thin;
}

.scroll p {
	margin: 0;
}

.hidden {
	display: none;
}

/* Général */
.card {
	width: 580px;
	background: #fafcff;
	border-radius: 75px 0 0;
	padding-bottom: 10px;
	border: 2px #cedff2 solid;
	margin: auto;
	font-family: 'Quicksand', 'sans-serif';
	font-size: 15px;
}

.card li {
	list-style-image: url('../images/icons/pokeball-liste.png');
}

.title img {
	width: 100px;
	border: 10px solid #cedff2;
	border-radius: 100%;
	float: left;
	background: #fff;
}

.title div {
	font-size: 35px;
	border-bottom: 10px solid #cedff2;
	padding-top: 60px;
	margin-left: 35px;
	color: #299aee;
	font-family: "Dancing Script", "sans-serif";
}

.title span {
	margin-left: 20px;
}

.descriptions {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.description {
	margin: 5px 0;
}

.description span:first-child {
	font-size: 15px;
}

.category {
	font-size: 20px;
	margin-top: 10px;
	margin-left: -20px;
	margin-right: -20px;
}

.category span, .content {
	margin-left: 20px;
}

.category, .description span:first-child {
	color: #299aee;
	background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgb(206, 223, 242) 50%, rgb(206, 223, 242) 80%, rgba(208,225,243,0) 80%, rgba(255,255,255,0) 100%);
	font-family: "Pacifico", "sans-serif";
}

.content {
	margin-right: 20px;
	margin-top: 20px;
}

/* Inventaire */
.in {
	color: green;
}

.out {
	color: red;
}

.inventaire {
	font-size: 14px;
}

.inventaire .scroll {
	padding-left: 3px;
}

.inventaire img {
	width: 24px;
	height: 24px;
	object-fit: none;
}

.notown {
	filter: brightness(0%);
}

/* Pokémon */
.attacks .scroll {
	max-height: 280px;
}

.sprite {
	float: left;
	border-radius: 100%;
        margin-right: 20px;
        border: 1px #299aee solid;
}

.sprite img {
	height: 96px;
	width: 96px;
	object-fit: none;
}

.type img {
	max-width: 60px;
}

.attaque {
	margin-top: 2px;
}

.ct {
	background-color: #a463c5;
}

.cs {
	background-color: #7ccee3;
}

.cm {
	background-color: #e37c7c;
}

.gm {
	background-color: #86e37c;
}

.ct, .cs, .cm, .gm {
	border-radius: 100%;
	padding: 3px;
	font-size: 10px;
	color: white;
}

.statistiques {
	flex-basis: 35%;
	border-right: 2px #299aee dotted;
	margin-right: 3%;
}

.attacks {
	flex-basis: 61%;
}

.attacks span[title]::before {
  color: red;
  content: '⚠︎ ';
}

.attacks span[title="Inutile"] {
  color: #d5d5d5;
}

.flinch::after {
	background-image: url("../images/icons/peur.png");
}

.burn::after {
	background-image: url("../images/icons/feu.png");
}

.paralyze::after{
	background-image: url("../images/icons/foudre.png");
}

.sleep::after {
	background-image: url("../images/icons/dodo.png");
}

.poison::after {
	background-image: url("../images/icons/poison.png");
}

.attack::after {
	background-image: url("../images/icons/epee.png");
}

.freeze::after {
	background-image: url("../images/icons/gele.png");
}

.recoil::after {
	background-image: url("../images/icons/revenir.png");
}

.rest::after {
	background-image: url("../images/icons/du-repos.png");
}

.flinch::after, .burn::after, .paralyze::after, .sleep::after, .poison::after, .attack::after, .freeze::after, .recoil::after, .rest::after {
	content: '';
	display: inline-block;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
}

.pokeballs {
	display: flex;
	justify-content: center;
	margin-top: 10px;
	flex-flow: wrap;
}

.pokeballs label {
	padding: 5px;
	background-color: #cedff2;
	border-radius: 100%;
	cursor: pointer;
	border: solid #299aee 1px;
	margin: 5px 10px;
}

.pokeballs label img {
	height: 32px;
	width: 32px;
	object-fit: none;
}

.pokemons {
	margin: 10px 0;
}

.banner {
	position: relative;
	margin-bottom: 10px;
}

.banner img{
	width: 100%;
	height: 100px;
	object-fit: none;
	border: solid #299aee 1px;
}

.banner span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 45px;
	color: white;
	font-weight: 700;
}

.banner .banner-credit {
	font-weight: 400;
	font-size: 8px;
	top: 110%;
	color: #299aee;
	width: 100%;
	text-align: right;
}

input[type=radio], .pokemons {
	display: none;
}

[type="radio"]:checked + .pokemons {
	display: block;
}

.beach_afternoon,
.battle_afternoon,
.battle_morning,
.battle_night,
.beach_morning,
.beach_night,
.brigde_afternoon,
.brigde_dusk,
.brigde_moon_light,
.brigde_morning,
.brigde_night,
.labo,
.mountain_afternoon,
.mountain_field,
.mountain_morning,
.mountain_night,
.plains_afternoon,
.plains_morning,
.plains_night,
.rock_bridge_afternoon,
.rock_bridge_morning,
.rock_bridge_night,
.wall_afternoon,
.wall_morning,
.wall_night {
	background-size: cover;
}

.wall_night {
	background-image: url('../images/background/wall_night.jpg');
}

.wall_morning {
	background-image: url('../images/background/wall_morning.jpg');
}

.wall_afternoon {
	background-image: url('../images/background/wall_afternoon.jpg');
}

.rock_bridge_night {
	background-image: url('../images/background/rock_bridge_night.jpg');
}

.rock_bridge_morning {
	background-image: url('../images/background/rock_bridge_morning.jpg');
}

.rock_bridge_afternoon {
	background-image: url('../images/background/rock_bridge_afternoon.jpg');
}

.plains_night {
	background-image: url('../images/background/plains_night.jpg');
}

.plains_morning {
	background-image: url('../images/background/plains_morning.jpg');
}

.plains_afternoon {
	background-image: url('../images/background/plains_afternoon.jpg');
}

.mountain_night {
	background-image: url('../images/background/mountain_night.jpg');
}

.mountain_morning {
	background-image: url('../images/background/mountain_morning.jpg');
}

.mountain_field {
	background-image: url('../images/background/mountain_field.jpg');
}

.mountain_afternoon {
	background-image: url('../images/background/mountain_afternoon.jpg');
}

.labo {
	background-image: url('../images/background/labo.jpg');
}

.brigde_night {
	background-image: url('../images/background/brigde_night.png');
}

.brigde_morning {
	background-image: url('../images/background/brigde_morning.png');
}

.brigde_afternoon {
	background-image: url('../images/background/brigde_afternoon.png');
}

.brigde_dusk {
	background-image: url('../images/background/brigde_dusk.png');
}

.brigde_moon_light {
	background-image: url('../images/background/brigde_moon_light.png');
}

.beach_night {
	background-image: url('../images/background/beach_night.jpg');
}

.beach_morning {
	background-image: url('../images/background/beach_morning.jpg');
}

.beach_afternoon {
	background-image: url('../images/background/beach_afternoon.jpg');
}

.battle_afternoon {
	background-image: url('../images/background/battle_afternoon.jpg');
}

.battle_morning {
	background-image: url('../images/background/battle_morning.jpg');
}

.battle_night {
	background-image: url('../images/background/battle_night.jpg');
}

#content-p1 .banner img {
	object-position: 0 -398px;
}

#content-p20 .banner img {
	object-position: -90px -89px;
}

#content-p21 .banner img {
	object-position: -196px -252px;
}

#content-p22 .banner img {
	object-position: 0 -206px;
	object-fit: cover;
}

#content-p23 .banner img {
	object-position: -38px -266px;
}

#content-p24 .banner img {
	object-position: 0 -96px;
	object-fit: cover;
}

#content-p25 .banner img {
	object-position: -50px -524px;
}

#content-p18 .banner img {
	 object-position: -371px -262px;
}

#content-p26 .banner img {
	object-position: -30px -109px;
}

#content-p6 .banner img {
	object-position: -120px -174px;
}

#content-p5 .banner img {
	object-position: 0 -59px;
	object-fit: cover;
}

#content-p27 .banner img {
	object-position: 0 -434px;
	object-fit: cover;
}

#content-p28 .banner img {
	object-position: 0 -210px;
}

#content-p29 .banner img {
	object-position: 0 -344px;
	object-fit: cover;
}

#content-p14 .banner img {
	object-position: 0 -70px;
	object-fit: cover;
}

#content-p15 .banner img {
	object-position: 0 -90px;
	object-fit: cover;
}

#content-p16 .banner img {
	 object-position: -830px -290px;
}

#content-p30 .banner img {
	object-position: 0 -175px;
	object-fit: cover;
}

#content-p31 .banner img {
	 object-position: -230px -325px;
}

#content-p32 .banner img {
	object-position: 0 -80px;
	object-fit: cover;
}

#content-p86 .banner img {
	object-fit: cover;
}

#content-p66 .banner img {
	object-position: 0 -260px;
	object-fit: cover;
}

#content-p68 .banner img {
	object-position: 0 -100px;
	object-fit: cover;
}

#content-p70 .banner img {
	object-position: 0 -120px;
	object-fit: cover;
}

#content-p80 .banner img {
	object-position: 0 -250px;
	object-fit: cover;
}

#content-p83 .banner img {
	object-position: 0 -75px;
	object-fit: cover;
}

/* Social */
.social img {
	width: 150px;
}

.relations > .scroll {
	max-height: 400px;
	overflow-x: hidden;
}

/* Pokédex */
.pokedex img {
	max-width: 32px;
}

.seen {
	filter: grayscale(100%);
}

.released {
	filter: sepia(100%);
}

/* Histoire */
.history {
  max-height: 355px;
}

.ongoing {
	color: #ff9933
}

.finished {
	color: limegreen;
}

.abandonned {
	color: gray;
}

.upcoming {
	color: #a6b1e1;
}

/* Ressources */
.ressources.scroll {
	max-height: 500px;
}

.ressources .avatar img{
	max-width: 100px;
}

.ressources .signature img{
	max-width: 150px;
}

.ressources .various img {
	max-width: 75px;
}
